.interactive-container {
    background-color: white;
    height: 650px;
    margin-top: 30px;
    border-radius: 5px;
    opacity: 0.95;
    padding: 15px
}


.car-show {
    border-radius: 5px;
    width: 90%;
}

.simulate {
    padding: 1px 5px 1px 5px;
    margin-left: 10px;
    font-size: 14px;
    position: relative;
    top: -3px;
}

.pt-10 {
    padding-top: 10px;
}



#signal {
    width: 150px;
    display: inline-block;
    height: 25px;
    margin-left: 10px;
}
