
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <div class="interactive-container">
            <div class="container">
                
                <div class="form-group row">
                </div>
                <div class="form-group row">
                    <label for="vehicle" class="col-sm-2 col-form-label"><b>Veículo desejado</b></label>
                    <div class="col-sm-10">
                        <select (change)="changeVehicle($event.target.value)" class="form-control">
                            <option selected disabled> Selecione... </option>
                            <option *ngFor="let car of cars" [value]="car.id"> {{car.brand}} {{car.name}} </option>
                        </select>
                    </div>
                </div>

                <app-description></app-description>
            </div>
        </div>
    </div>
    <div class="col-md-2"></div>
</div>

    
