
ul,li{
    list-style:none;
  }

  ul{
    overflow:hidden;
    padding:10px;
  }

  ul li a{
    text-decoration:none;
    color:#000;
    background:#ffd2d0;
    display:block;
    height:10em;
    width:10em;
    padding:1em;
    -moz-box-shadow:5px 5px 7px rgba(33,33,33,1);
    -webkit-box-shadow: 5px 5px 7px rgba(33,33,33,.7);
    box-shadow: 5px 5px 7px rgba(33,33,33,.7);
    -moz-transition:-moz-transform .15s linear;
    -o-transition:-o-transform .15s linear;
    -webkit-transition:-webkit-transform .15s linear;
  }
  ul li{
    margin:1em;
    float:left;
  }
  ul li h2{
    font-size:140%;
    font-weight:bold;
    padding-bottom:10px;
  }
  ul li p{
    font-family:"Reenie Beanie",arial,sans-serif;
    font-size:180%;
  }
  ul li a{
    -webkit-transform: rotate(-6deg);
    -o-transform: rotate(-6deg);
    -moz-transform:rotate(-6deg);
  }
  

  ul li a:hover,ul li a:focus{
    box-shadow:3px 3px 4px rgba(0,0,0,.7);
    -moz-box-shadow:3px 3px 4px rgba(0,0,0,.7);
    -webkit-box-shadow: 3px 3px 4px rgba(0,0,0,.7);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    position:relative;
    z-index:5;
  }

  p.center.parcel {
    font-family: fangsong !important;
    font-weight: bold;
    background-color: #edc7c7;
    border-radius: 6px;
}

p.center.parcel-val {
    font-size: 20px !important;
    font-family: monospace;
}

a.sticker {
    width: 130px !important;
    height: 120px !important;
    padding: 5px !important;
}

.cards {
  display: none;
}