<div class="cards">
    <h2 class='center'>Valores simulados para você!</h2>
    <ul class='card-list'>
        <li >
            <a href="#" class='sticker'>
                <p class="center parcel">48x</p>
                <p class="center parcel-val" id='card48'>R$ 954,00 </p>
            </a>
        </li>
    
        <li>
            <a href="#" class='sticker'>
                <p class="center parcel">12x</p>
                <p class="center parcel-val" id='card12'>R$ 3.816,66</p> 
            </a>
        </li>
    
        <li>
            <a href="#" class='sticker'>
                <p class="center parcel">6x</p>
                <p class="center parcel-val" id='card6'>R$ 7.633,33</p> 
            </a>
        </li>
    </ul>
</div>
