/* You can add global styles to this file, and also import other style files */
body { 
    background: url(https://listraweb.com.br/wp-content/themes/listra/assets/images/fullbanner.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.center {
    text-align: center;
}