<div class="row">
    <div class="col-sm-6 car-img"></div>
    <div class="col-sm-6 pt-10 car-desc">
        <h2 id="carName"></h2> 
        <h3 id="carValue"></h3>
        <p id="description"></p>
        <div class='dv-value'>
            <label for="signal">Entrada:</label>
            <input type="number" placeholder="R$ valor" class="form-control" id="signal">
            <button class="btn btn-secondary simulate" value='' (click)="simulate($event.target.value)">Simular</button>
        </div>
        <hr>
        <app-cards></app-cards>
    </div>
</div>