<div class="row mt-15">
    <div class="col-md-4"></div>
      <div class="col-md-4 center">
        <img src="https://listraweb.com.br/wp-content/themes/listra/assets/images/listraweb.png" alt="Listra Web">
      </div>
    <div class="col-md-4"></div>
  </div>