.spacer {
    flex: 1;
}

.toolbar {
    position: absolute;
    top: 0px;
    left: 0;
    right: 0;
    height: 60px;
    padding-left: 15px;
    display: flex;
    align-items: center;
    background-color: #444444;
    color: white;
    font-weight: 600;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

span.dev {
    position: absolute;
    right: 15px;
}
